.container {
  margin-top: 5em;
  padding: 2rem;
  display: grid;
  place-items: center;
}

.container h1 {
  color: #10bbbb;
}

.container h2 {
  color: #ffc456;
}

.container h3 {
  color: pink;
}

.container h4 {
  color: #ea9afa;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
}

